@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Cabin:ital,wght@1,600&family=Cherry+Cream+Soda&family=Source+Serif+Pro&display=swap');

main section {

    color: #284253;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 200px 500px;
}

.grid-container {
    grid-gap: 200px 500px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;

}

.logo {
    width: 100px;
    border-radius: 15px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #F1F9F5;
    font-family: "Brygada";
    text-decoration: none;
    padding: 35px;
}

.home-msg {
    background-color: bisque;
    line-height: 1.5em;
    width: 60%;
    font-size: 18px;
    line-height: 2em;
    margin-left: 50px;
    margin-right: 50px;
    padding: 90px;
    color: black;
    font-family: Source Serif Pro;
    border-radius: 10px;
}

#introduction {
    justify-content: start;
    align-content: start;
}

.welcome {
    margin-left: 60px;
    margin-right: 20px;
    color: #396E94;
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 40px;
    font-family: Cherry Cream Soda;
    border-radius: 10px;
    box-shadow: 5px 5px 10px whitesmoke;
}

.software-head {
    margin-left: 60px;
    margin-right: 60px;
    color: #396E94;
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 40px;
    font-family: Cherry Cream Soda;
    border-radius: 10px;
    box-shadow: 5px 5px 10px white;
}

h3 {
    color: #396E94;
    text-align: center;
    animation: blinker 1.5s linear infinite;
    font-size: 30px;
    background-color: white;
    margin-left: 100px;
    margin-right: 60px;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

h4 {
    margin-left: 60px;
    margin-right: 20px;
    color: #284253;
    font-family: Brygada;
    font-style: italic;
    border-radius: 10px;
}

h5 {
    font-size: 24px;
}

p {
    color: black;
    font-family: monospace;
    line-height: 2em;

}

.container {
    display: grid;
    border-radius: 10px;
    padding: 1em;
}

nav a:hover {
    color: #284253;
    background-color: #F1F9F5;
    text-decoration: underline;
    border: #24799D;
    border-style: ridge;
}

body {
    background-color: #F1F9F5;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #334E60;

}

footer {
    background-color: #24799D;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
}

footer .social img {
    padding-top: 3px;
    border-radius: 30%;

}

#hardware-img {
    width: 60%;
    opacity: 90%;
    border: 1px solid#334E60;
    transition: transform .2s;
    box-shadow: 5px 5px 10px #DC7C23;
    position: relative;
    margin-left: 100px;
    margin-right: 20px;
    border-radius: 10px;
}

#hardware-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

#index-img {
    width: 95%;
    opacity: 100%;
    border: 1px solid#334E60;
    transition: transform .2s;
    box-shadow: 5px 5px 10px #DC7C23;
    border-radius: 10px;
}

#software-img {
    width: 80%;
    height: 500px;
    opacity: 90%;
    border: 1px solid#334E60;
    transition: transform .2s;
    box-shadow: 5px 5px 10px #DC7C23;
    border-radius: 10px;
    margin-left: 9%;
}

#software-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

#software2-img {
    width: 80%;
    height: 500px;
    opacity: 90%;
    border: 1px solid#334E60;
    transition: transform .2s;
    box-shadow: 5px 5px 10px #DC7C23;
    margin-left: 10%;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#software2-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

#windows-img {
    width: 80%;
    height: 500px;
    opacity: 90%;
    border: 1px solid#334E60;
    transition: transform .2s;
    box-shadow: 5px 5px 10px #DC7C23;
    margin-left: 10%;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#windows-img:hover {
    opacity: .6;
    transform: scale(1.1);
}


.soft-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 10px;
}

#homepage2-img {
    width: 90%;
    height: 600px;
    opacity: 90%;
    border: 1px solid#334E60;
    transition: transform .2s;
    box-shadow: 5px 5px 10px #DC7C23;
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#repair-img {
    width: 80%;
    height: 370px;
    opacity: 90%;
    border: 1px solid#334E60;
    transition: transform .2s;
    box-shadow: 5px 5px 10px #DC7C23;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px
}

#repair-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

#repair2-img {
    width: 80%;
    height: 350px;
    opacity: 90%;
    border: 1px solid#334E60;
    transition: transform .2s;
    box-shadow: 5px 5px 10px #DC7C23;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px
}

#repair2-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

#keyboard1-img {
    width: 50%;
    opacity: 90%;
    border: 1px solid#334E60;
    transition: transform .2s;
    box-shadow: 5px 5px 10px #DC7C23;
    margin-left: 30%;
    -webkit-margin-top-collapse: 40px;
    border-radius: 10px;
}

#keyboard1-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

#contuct-list {
    background-color: bisque;
    font-size: large;
    text-decoration: wavy;
    font-weight: 200;
    color: black;
    line-height: 40px;
    margin-left: 60px;
    margin-right: 60px;
    font-family: Source Serif Pro;
    border-radius: 10px;
    list-style-type: square;
    
}

#booking {
    color: whitesmoke;
    margin-left: 60px;
    margin-right: 60px;
    line-height: 25px;
    font-size: 15px;
    font-family: Source Serif Pro;
    padding: 15px 20px 15px;
    background-color: #396E94;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #DC7C23;
}

#bookings-list {
    color: bisque;
    background-color: black;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 20px;
    line-height: 30px;
    padding: 15px 50px 12px;
    border-radius: 10px;
    list-style-type: circle;
    box-shadow: 5px 5px 10px #DC7C23;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
}

.documenation {
    color: brown;
    margin-left: 60px;
    margin-right: 60px;
    font-size: medium;
}

#headers {
    margin-left: 60px;
    margin-right: 60px;
    color: #396E94;
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 35px;
    font-family: Cherry Cream Soda;
    border-radius: 10px;
    box-shadow: 5px 5px 10px white;
}

.dail-numbers {
    margin-left: 60px;
    margin-right: 60px;
    color: #396E94;
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 35px;
    font-family: Cherry Cream Soda;
    border-radius: 10px;
    box-shadow: 5px 5px 10px white;

}

#note {
    font-size: medium;
    margin-left: 60px;
    margin-right: 60px;
    font-family: serif;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    word-spacing: 4px;
    line-height: 1.5;
}

@media screen and (max-width: 900px) {
    .soft-grid {
        display: block;
        height: auto;
    }

    nav,
    footer {
        flex-direction: column;
    }
}